.centerBlock{
   display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
      width: 800px;
     margin: 0 auto;
     padding-top:20px;

}

